
  .login-container, .signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    margin: 100px auto;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button, .btn-link {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  button:hover, .btn-link:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Media query for tablets and larger screens */
@media (min-width: 768px) {
    .login-container, .signup-container {
      width: 70%;
      max-width: 350px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /* Media query for desktops and larger screens */
  @media (min-width: 1024px) {
    .login-container, .signup-container {
      width: 50%;
      max-width: 350px;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }